* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 12px 16px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

:root {
    --font-heading: Sen, sans-serif;
}

.heading {
    width: 470px;
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 117.241%; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 126.316%; /* 126.316% */
}

.desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%; /* 166.667% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.word-break-all {
    word-break: break-all;
}

/* Header */

.header {
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
    background: #fffcf4;
}

.navbar {
    margin-left: auto;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.navbar a:hover,
.navbar li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 8px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action {
    margin-left: 49px;
}

.sign-up-btn {
    min-width: 144px;
}
/* ============Hero=========== */
.hero {
    padding: 57px 0 35px;
    background: #fffcf4;
}

.body-hero {
    display: flex;
}

.hero-media {
    position: relative;
    width: 49%;
}

.hero-media .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom;
    /* display: block; */
}

.hero-media .hero-sumary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-sumary .item {
    display: flex;
    align-items: center;
}

.hero-sumary .item + .item {
    margin-top: 22px;
}

.hero-sumary .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sumary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-sumary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-sumary .info {
    margin-left: 16px;
}

.hero-sumary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.741%; /* 185.714% */
}

.hero-sumary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 166.667% */
}

.hero-content {
    width: 51%;
    padding: 64px 0 0 130px;
}

.hero-content .desc {
    margin-top: 22px;
}

.hero-content .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-content .course-btn {
    margin-right: 28px;
    min-width: 180px;
    padding: 17px 34px;
    font-size: 1.8rem;
    background: #ffb900;
    border-radius: 32px;
}

.hero-content .watch-video {
    border: none;
    background: #fffcf4;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero-content .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-content .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}

.hero-content .stats {
    margin-left: -28px;
    margin-top: 8px;
}

.hero-content .stats strong {
    padding-right: 10px;
    padding-left: 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%; /* 122.727% */
}
/*============ Popular ==================*/
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    max-width: 458px;
    margin-top: 16px;
}

.popular-top .control {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    color: #ffb900;
    border: 1px solid #ffb900;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-top .control-btn:hover {
    cursor: pointer;
    color: white;
    background: #ffb900;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.popular .course-item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.1);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    margin: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .head,
.popular .course-item .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .foot .price,
.popular .course-item .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 166.667% */
}

.popular .course-item .title a {
    padding-right: 6px;
}

.popular .course-item .value {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular .course-item .desc {
    margin: 6px 0 12px;
    font-size: 1.4rem;
    line-height: 185.714%; /* 185.714% */
}

.popular .foot .subs-btn:hover {
    background: #FFB900;
}

.popular .foot .subs-btn {
    border: none;
    font-size: 1.4rem;
    line-height: 185.714%; /* 185.714% */
}
